:root {
  --main-text-cl: #757575;
  --accent-cl: #2196f3;
  --black: #212121;
  --white: #ffffff;
  --gray: rgba(255, 255, 255, 0.6);
  --dark-bg: #2f303a;
  --light-grey: #f5f4fa;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
  overflow-x: hidden;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header .logo {
  margin-right: 93px;
}

.header-border .logo {
  margin-right: 93px;
}

.menu {
  display: none;
  padding-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.mobile-menu-btn {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    display: inline-block;
  }
}

.mobile-menu-btn .icon-cross {
  display: none;
}

.mobile-menu-btn.is-open .icon-cross {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu-btn:hover .mobile-menu-icon,
.mobile-menu-btn:focus .mobile-menu-icon {
  fill: var(--accent-cl);
}

.mobile-menu {
  display: none;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

.mobile-menu.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-div {
  margin-bottom: 60px;
}

.mail-tel-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.mail-tel {
  display: none;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .mail-tel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .mail-tel {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.mail {
  margin-right: 0px;
}

@media screen and (min-width: 1200px) {
  .mail {
    margin-right: 50px;
  }
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    width: 100%;
  }
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.current-page {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}

.current-page:hover,
.current-page:focus {
  color: var(--black);
}

.current-page::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: var(--accent-cl);
}

@media screen and (min-width: 1200px) {
  .current-page::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-cl);
    position: absolute;
    top: 52px;
  }
}

@media screen and (min-width: 768px) {
  .current-page::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-cl);
    position: absolute;
    top: 58px;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-logo {
  text-decoration: none;
  font-family: Raleway, Oleo Script;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.link-logo-black {
  text-decoration: none;
  font-family: Raleway, Oleo Script;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
}

.link-logo-white {
  text-decoration: none;
  font-family: Raleway, Oleo Script;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.menu-link {
  display: inline-block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
  position: relative;
}

.menu-link:hover::after,
.menu-link:focus::after {
  color: var(--accent-cl);
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-cl);
}

@media screen and (min-width: 767px) {
  .menu-link:hover::after,
  .menu-link:focus::after {
    color: var(--accent-cl);
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-cl);
    position: absolute;
    top: 53px;
  }
}

.item {
  display: block;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.icon-contact {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.mail-menu-link {
  display: flex;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    margin-right: 0;
    justify-content: space-between;
  }
}

.dark-bg {
  background-color: var(--dark-bg);
}

.overlay {
  background-color: var(--dark-bg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bgr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .box {
    background-image: url("../../img/desktop/bgr@2x.jpg");
  }
}

.hero {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

@media (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-cl);
  margin-top: 30px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--accent-cl);
  background-color: var(--white);
}

.btn-portfolio {
  display: inline-block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: var(--light-grey);
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white);
  background-color: var(--accent-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 450px;
  height: 609px;
  background-color: var(--white);
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.5s;
}

@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: var(--white);
}

.btn-close:hover .btn-close-svg,
.btn-close:focus .btn-close-svg {
  fill: var(--accent-cl);
}

.btn-close-svg {
  width: 11px;
  height: 11px;
  fill: var(--black);
}

.advantages {
  margin-bottom: 94px;
}

.heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .heading {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.content-box {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

@media (min-width: 768px) {
  .content-box {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media (min-width: 1200px) {
  .content-box {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--light-grey);
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.duties {
  margin-bottom: 94px;
  display: none;
}

@media (min-width: 1200px) {
  .duties {
    display: block;
  }
}

.duties-box {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
  display: flex;
}

.img {
  display: block;
}

.duties-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.crew-container {
  background-color: var(--light-grey);
  margin-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.item-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .item-title {
    font-size: 36px;
  }
}

.crew-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .crew-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.crew-item {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .crew-item {
    flex-basis: calc(100% / 2 - 30px);
    max-width: 270px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .crew-item {
    flex-basis: calc(100% / 4 - 30px);
    max-width: 270px;
    margin-left: 30px;
    margin-top: 30px;
  }
}

.crew-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.crew-position {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
  margin: 0;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  color: #afb1b8;
  border-radius: 50%;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-cl);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--white);
}

.clients {
  padding-bottom: 94px;
}

.clients-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients-icons-item {
  display: flex;
  margin: 15px;
}

.clients-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: var(--white);
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icons-svg {
  height: 50px;
  fill: currentColor;
}

.clients-icons-link:hover {
  border-color: var(--accent-cl);
}

.clients-icons-link:hover .clients-icons-svg,
.clients-icons-link:focus .clients-icons-svg {
  fill: var(--accent-cl);
}

.footer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

.link-logo-footer {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .link-logo-footer {
    justify-content: start;
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
  }
}

.footer-adress {
  text-align: center;
}

@media (min-width: 1200px) {
  .footer-adress {
    text-align: start;
  }
}

.icon-footer {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .icon-footer {
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
  }
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-mail {
  margin-bottom: 9px;
}

.adress {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}

.mail-menu {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.join {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin: 0;
  margin-bottom: 20px;
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  border-radius: 50%;
}

.footer-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--accent-cl);
}

.submit {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .submit {
    align-items: flex-start;
  }
}

.submit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .submit-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.submit-form {
  display: flex;
  flex-wrap: wrap;
}

.submit-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-input {
  background-color: var(--dark-bg);
  margin: 0;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .submit-input {
    margin: 0;
  }
}

.button-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
  padding-left: 29px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-cl);
  cursor: pointer;
}

@media (min-width: 1200px) {
  .button-form {
    margin-top: 30px;
  }
}

.submit-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
}

.button-submit {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  padding-left: 29px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-cl);
  cursor: pointer;
}

.submit-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--white);
  color: var(--accent-cl);
}

.button-submit:hover .submit-svg,
.button-submit:focus .submit-svg {
  fill: var(--accent-cl);
}

textarea {
  resize: none;
}

.form-title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .form-title {
    max-width: 100%;
    line-height: 23px;
    padding-bottom: 12px;
  }
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
}

@media (min-width: 1200px) {
  .form {
    padding: 0;
  }
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-cl);
}

.form-input {
  margin: 0;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-input:focus {
  border-color: var(--accent-cl);
}

.form-input:focus + .form-label-svg {
  fill: var(--accent-cl);
}

.form-field label {
  margin-bottom: 4px;
}

.form-label-svg {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 31px;
  left: 15px;
  z-index: 2;
}

.label-comment {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-cl);
}

.comment {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.comment label {
  margin-bottom: 4px;
}

.comment textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  outline: none;
}

.comment textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:focus {
  border-color: var(--accent-cl);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agreement-link {
  flex: wrap;
  color: var(--accent-cl);
  text-decoration: underline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}

.argeement-label {
  display: block;
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check-icon {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--black);
  border-radius: 4px;
}

.checkbox-input:checked + .check-icon {
  background-color: var(--accent-cl);
  background-image: url(../img/icon-check-blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: transparent;
}
/*# sourceMappingURL=main.css.map */