.advantages {
  margin-bottom: 94px;
}

.heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 10px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--light-grey);
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}
