.advantages {
  margin-bottom: 94px;
}

.heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 10px;
  text-align: center;

  @include for-size(tablet) {
    text-align: left;
  }
}

.flexbox {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.content-box {
  display: block;

  align-items: center;
  justify-content: center;
  margin: 15px;

  @include for-size(tablet) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @include for-size(desktop) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--light-grey);
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}
