.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    margin-right: 0;
    justify-content: space-between;
  }
} ;
